.choice{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
  .choice-start{
    width: 100%;
    height:100%;
    position: relative;
    .icon-music{
      width:4rem;
      height:4rem;
      position: absolute;
      top:50%;
      left:50%;
      margin-left:-2rem;
    }
    .icon-introduce{
      width:100%;
      height:100%;
    }
    .options{
      width:100%;
      position: absolute;
      top:70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .options-word{
        font-size:1.5rem;
        margin:0rem 4rem;
      }
    }
  }
  .choice-before{
    width: 100%;
    height:100%;
    position: relative;
    .icon-introduce{
      width:100%;
      height:100%;
    }
    .btn{
      width:3rem;
      height:3rem;
      position: absolute;
      top:20.5%;
      right:20.2%;
    }
  }

}
